
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <% if logged_in? %>
      <%= link_to "My Profile", current_user, class: "btn btn-lg btn-primary" %>
      <%= link_to "All User", users_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Log in", login_path,  class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>

  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>

