<li id="skill-<%= skill.id %>">
<span class = "skill-container">
  <span class="plus-button">
    <span class="like">
      <% if skill.plus?(current_user) %>
        <%= form_for(skill.likes.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
          <%= button_tag(class: "btn btn-primary btn-sm") do %>
            <%= content_tag :span, "#{skill.likes_count}", class: "" %>
          <% end %>
          <%= f.hidden_field :user_id, :value => @user.id %>
        <% end %>
      <% else %>
        <%= form_for(skill.likes.build, remote: true) do |f| %>
          <div><%= hidden_field_tag :skill_id, skill.id %></div>
          <%= button_tag(class: "btn btn-default btn-sm") do %>
            <%= content_tag :span, "#{skill.likes_count}", class: "" %>
          <% end %>
          <%= f.hidden_field :user_id, :value => @user.id %>
        <% end %>
      <% end %>
    </span>
  </span>
  <span class="name">
  <%= link_to skill.name, skill ,:style=>"color:black;"%>
    <% if current_user?(@user) %>
      <span class = "del-button">
        | <%= link_to "", skill, method: :delete, data: { confirm: "You sure?" } , class: 'glyphicon glyphicon-trash', :style=>"color:red;" %>
      </span>
    <% end %>
  </span>
</span>
</li>